<div class="row pt-3">
  <div class="col-8">
    <div class="row">
      <div class="col">
        <button
          type="button"
          class="btn btn-primary"
          (click)="openPopUp({}, true)"
        >
          Agregar Asistente
        </button>
      </div>
    </div>

    <div *ngIf="dataForTable.length > 0">
      <app-table
        [columns]="columnsForTable"
        [headers]="headersForTable"
        [data]="dataForTable"
        (emitDataToEdit)="openPopUp($event, false)"
        (deleteData)="deleteItem($event)"
      ></app-table>
    </div>
  </div>
</div>
