<div class="d-flex h-100" style="width: 280px; position: fixed;">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <!-- <mat-icon class="me-2" aria-hidden="false" >touch_app</mat-icon> -->
            <img src="assets/images/asistente.png" width="30px" alt="" srcset="">
          <span class="ms-3 fs-4">Asistente Virtual</span>
        </a>
        <select class="form-select mt-3 animate__animated {{ (assitants.length === 0) ? 'animate__headShake animate__infinite	infinite' : '' }}" #selectList (change)="selectAssistant(selectList.value)" >
            <option value="null">Selecciona un Asistente</option>
            <option *ngIf="assitants.length === 0">No hay Asistentes creados</option>
            <option *ngFor="let item of assitants" [value]="item | json">{{ item.name }}</option>

          </select>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item" *ngFor="let item of itemsNavbar">
            <a [routerLink]="item.link" routerLinkActive="active" class="nav-link text-white  d-flex align-items-center" aria-current="page">
                <mat-icon aria-hidden="false" [innerText]="item.icon"></mat-icon>
                <p class="ms-2 mb-0" [innerText]="item.text"></p>
            </a>
          </li>

        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/images/wit.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>WIT</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
</div>